body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.help{
   text-decoration: underline;
   color: white;
   font-size: 1.3rem;
}

.container {
  display: block;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.testbutton {
  font-family: 'Press Start 2P';
  color: #000000 !important;
  font-size: 2.3rem;
  padding: 10px 25px;
  border-radius: 20px;
  border: 9px solid #000000;
  background: #ffffff;
  cursor: pointer;
}

.testbutton:active{
  transform: translateY(3px);
  box-shadow:  0 6px 6px 0 rgba(0,0,0,0.3);
}

.testbutton:disabled {
  cursor: default;
  filter: brightness(40%);
}


@media (max-width: 850px) {
  body{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }
  .help{
    font-size: 2rem;
  }
}